.error {
  margin: 20px 0;
  font-family: var(--font-helvetica);
  font-weight: 700;
  font-size: 20px;
  line-height: 0;
  color: var(--white-base);
}

.spin {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}